<mat-toolbar color="primary">
  <span>Preview </span>
  <span *ngIf="selectedDocument$ | async; let document"> : {{document.name}}</span>
</mat-toolbar>

<div *ngIf="selectedDocument$ | async let document">

  <video *ngIf="document.mimeType === 'video/mp4'; else iframeView"
         [src]="bypassSecurityTrustResourceUrl(document.url)" width="100%" height="500px" controls></video>

  <ng-template #iframeView>
    <iframe [src]="bypassSecurityTrustResourceUrl(document.url)" width="100%" height="500px"></iframe>
  </ng-template>

</div>
