.card {
  border-style: groove;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  width: 160px;
  height: 180px;
}

.card:hover {
  background-color: #eee;
}

i {
  font-size: 80px;
  text-align: center;
}
