.card {
  width: 180px;
  height: 180px;
  border-style: groove;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  background-color: #eee;
}

i {
  font-size: 80px;
  text-align: center;
}
